<div class="container">
  <br>
  <h1>Add Employee</h1><br>
  <form  action="">
  <div>
      <label >Name:</label>
      <div >
      <input type="text" id="name" placeholder="Enter Employee Name">
      </div>
  </div>
  <div>
      <label>Department:</label>
      <div>          
      <input type="text" id="department" placeholder="Enter Employee Department">
      </div>
  </div>
  <div >        
      <div>
      <button>Add Employee</button>
      <a href="" >Cancel</a>
      </div>
  </div>
  </form>
</div>        

